body{
    margin: 0;
    padding: 0;
}

Button{
    width: 200px;
    height: 40px;
    border: none;
     background-color: blue;
}

.itmes{
    background-color: skyblue;
    display: flex;
    justify-content: space-around;
}

.free{
    background-color: white;
    border-radius: 15px;
    width: 250px;
    height: 300px;
}


.free, .plus,.pro{
    background-color: white;
    border-radius: 15px;
    width: 250px;
    height: 400px;
}